# Activity 2 Notebook1
### In this notebook, we join the various tables from European Soccer Database that we get from Kaggle.com and create 2 CSV files which we will use to answer queries in Activity 2 Notebook2

In [44]:
library(dplyr)
library(sqldf)

### Note: The latest updated values are used to grade players and teams.

In [45]:
db <- dbConnect(SQLite(), dbname="database.sqlite")
my_db <- src_sqlite("my_db1.sqlite3", create = T)
data1 <- dbReadTable(conn = db, "Player")
data2 <- dbReadTable(conn = db, "Team")
data3 <- dbReadTable(conn = db, "Player_Attributes")
data4 <- dbReadTable(conn = db, "Match")
data5 <- dbReadTable(conn = db, "Country")
data6 <- dbReadTable(conn = db, "League")
data7 <- dbReadTable(conn = db, "Team_Attributes")

In [46]:
player1 <- copy_to(my_db, data1)
team1 <- copy_to(my_db, data2)
platr <- copy_to(my_db, data3)
match <- copy_to(my_db, data4)
country <- copy_to(my_db, data5)
leag <- copy_to(my_db, data6)
team2 <- copy_to(my_db, data7)

In [47]:
player1 <- tbl(my_db, sql("SELECT * FROM data1"))
platr <- tbl(my_db, sql("SELECT * FROM data3 WHERE id IN (SELECT id from data3 GROUP BY player_api_id HAVING date = max(date))"))
match <- tbl(my_db, sql("SELECT * FROM data4"))
ini <- tbl(my_db, sql("SELECT * FROM data7 WHERE id IN (SELECT id from data7 GROUP BY team_api_id HAVING date = max(date))"))
team1 <- tbl(my_db,sql("SELECT * FROM data2"))

In [48]:
c1 <- select(player1,player_name,player_api_id)
c2 <- select(platr,player_api_id,date,overall_rating,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes)

In [49]:
r1 <- collect(select(match,player_api_id = home_player_1,league_id))
r2 <- collect(select(match,player_api_id = home_player_2,league_id))
r3 <- collect(select(match,player_api_id = home_player_3,league_id))
r4 <- collect(select(match,player_api_id = home_player_4,league_id))
r5 <- collect(select(match,player_api_id = home_player_5,league_id))
r6 <- collect(select(match,player_api_id = home_player_6,league_id))
r7 <- collect(select(match,player_api_id = home_player_7,league_id))
r8 <- collect(select(match,player_api_id = home_player_8,league_id))
r9 <- collect(select(match,player_api_id = home_player_9,league_id))
r10 <- collect(select(match,player_api_id = home_player_10,league_id))
r11 <- collect(select(match,player_api_id = home_player_11,league_id))

r12 <- collect(select(match,player_api_id = away_player_1,league_id))
r13 <- collect(select(match,player_api_id = away_player_2,league_id))
r14 <- collect(select(match,player_api_id = away_player_3,league_id))
r15 <- collect(select(match,player_api_id = away_player_4,league_id))
r16 <- collect(select(match,player_api_id = away_player_5,league_id))
r17 <- collect(select(match,player_api_id = away_player_6,league_id))
r18 <- collect(select(match,player_api_id = away_player_7,league_id))
r19 <- collect(select(match,player_api_id = away_player_8,league_id))
r20 <- collect(select(match,player_api_id = away_player_9,league_id))
r21 <- collect(select(match,player_api_id = away_player_10,league_id))
r22 <- collect(select(match,player_api_id = away_player_11,league_id))


rn = c()
rn = rbind(rn,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12,r13,r14,r15,r16,r17,r18,r19,r20,r21,r22)

In [50]:
rn1 <- aggregate(league_id ~ player_api_id, rn, function(x) length(unique(x)))

In [51]:
c3 <- inner_join(c1,c2,by = "player_api_id")
c4 = c()
c4 <- mutate(c2, gk_rating = gk_diving+gk_handling+gk_kicking+gk_positioning+gk_reflexes)
c5 <- select(c4, player_api_id,date,overall_rating,gk_rating)
c6 <- inner_join(c1,c5,by = "player_api_id")

In [52]:
d1 <- collect(tally(group_by(match, home_player_1),sort = TRUE))
d2 <- collect(tally(group_by(match, home_player_2),sort = TRUE))
d3 <- collect(tally(group_by(match, home_player_3),sort = TRUE))
d4 <- collect(tally(group_by(match, home_player_4),sort = TRUE))
d5 <- collect(tally(group_by(match, home_player_5),sort = TRUE))
d6 <- collect(tally(group_by(match, home_player_6),sort = TRUE))
d7 <- collect(tally(group_by(match, home_player_7),sort = TRUE))
d8 <- collect(tally(group_by(match, home_player_8),sort = TRUE))
d9 <- collect(tally(group_by(match, home_player_9),sort = TRUE))
d10 <- collect(tally(group_by(match, home_player_10),sort = TRUE))
d11 <- collect(tally(group_by(match, home_player_11),sort = TRUE))

d12 <- collect(tally(group_by(match, away_player_1),sort = TRUE))
d13 <- collect(tally(group_by(match, away_player_2),sort = TRUE))
d14 <- collect(tally(group_by(match, away_player_3),sort = TRUE))
d15 <- collect(tally(group_by(match, away_player_4),sort = TRUE))
d16 <- collect(tally(group_by(match, away_player_5),sort = TRUE))
d17 <- collect(tally(group_by(match, away_player_6),sort = TRUE))
d18 <- collect(tally(group_by(match, away_player_7),sort = TRUE))
d19 <- collect(tally(group_by(match, away_player_8),sort = TRUE))
d20 <- collect(tally(group_by(match, away_player_9),sort = TRUE))
d21 <- collect(tally(group_by(match, away_player_10),sort = TRUE))
d22 <- collect(tally(group_by(match, away_player_11),sort = TRUE))


d1 <- select(d1, player_api_id = home_player_1,n)
d2 <- select(d2, player_api_id = home_player_2,n)
d3 <- select(d3, player_api_id = home_player_3,n)
d4 <- select(d4, player_api_id = home_player_4,n)
d5 <- select(d5, player_api_id = home_player_5,n)
d6 <- select(d6, player_api_id = home_player_6,n)
d7 <- select(d7, player_api_id = home_player_7,n)
d8 <- select(d8, player_api_id = home_player_8,n)
d9 <- select(d9, player_api_id = home_player_9,n)
d10 <- select(d10, player_api_id = home_player_10,n)
d11 <- select(d11, player_api_id = home_player_11,n)


d12 <- select(d12, player_api_id = away_player_1,n)
d13 <- select(d13, player_api_id = away_player_2,n)
d14 <- select(d14, player_api_id = away_player_3,n)
d15 <- select(d15, player_api_id = away_player_4,n)
d16 <- select(d16, player_api_id = away_player_5,n)
d17 <- select(d17, player_api_id = away_player_6,n)
d18 <- select(d18, player_api_id = away_player_7,n)
d19 <- select(d19, player_api_id = away_player_8,n)
d20 <- select(d20, player_api_id = away_player_9,n)
d21 <- select(d21, player_api_id = away_player_10,n)
d22 <- select(d22, player_api_id = away_player_11,n)

In [53]:
dn = c()
dn = rbind(dn,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d11,d12,d13,d14,d15,d16,d17,d18,d19,d20,d21)
dn1 <- dn %>% group_by(player_api_id) %>% mutate(n = sum(n))
dn2 <- unique(dn1)
j1 <- inner_join(c6,dn2,by = "player_api_id",copy = TRUE)
j3 <- inner_join(j1,rn1,by = "player_api_id",copy = TRUE)
j3 <- j3 %>% select(player_name,player_api_id,overall_rating,gk_rating,numofappearences = n,numofleagues=league_id)

In [54]:
k1 <- ini %>% mutate(buildupattributes = buildUpPlaySpeed + buildUpPlayDribbling + buildUpPlayPassing,chancecreationattributes = chanceCreationPassing + chanceCreationCrossing + chanceCreationShooting,defenseattributes = defencePressure + defenceAggression + defenceTeamWidth)
k1 <- k1 %>% select(team_api_id,buildupattributes,chancecreationattributes,defenseattributes)

In [55]:
kk <- team1 %>% select(team_api_id,team_long_name,team_short_name)

In [56]:
kj <- inner_join(kk,k1,by = 'team_api_id',copy = TRUE)

In [57]:
k2 <- collect(match %>% select(team_api_id = home_team_api_id, goals = home_team_goal))
k3 <- collect(match %>% select(team_api_id = away_team_api_id, goals = away_team_goal))
kn = c()
kn = rbind(kn,k2,k3)
kn <- kn %>% group_by(team_api_id) %>% mutate(goals = sum(goals))
kn <- unique(kn)

In [58]:
kf <- inner_join(kj,kn,by = "team_api_id",copy = TRUE)

In [59]:
write.csv(file="player.csv", x=j3)
write.csv(file="team.csv", x=kf)