# Activity2 Notebook2
### This notebook answers 8 queries from player.csv and team.csv files created by Activity2 Notebook1

## Note : All the data pulled are for the latest updated attributes of players/teams

In [11]:
library(dplyr)
library(sqldf)

In [12]:
playerdata = read.csv("player.csv")
teamdata = read.csv("team.csv")

In [13]:
#question1
#Which are the top 10 players by overall rating?
q1 <- playerdata %>% top_n(n=10,wt=overall_rating)
q1 <- arrange(q1,desc(overall_rating))
q1 <- select(q1,player_name,overall_rating)
q1 <- filter(q1,between(row_number(),1,10))
q1

   player_name        overall_rating
1  Lionel Messi       94
2  Cristiano Ronaldo  93
3  Luis Suarez        90
4  Manuel Neuer       90
5  Neymar             90
6  Arjen Robben       89
7  Zlatan Ibrahimovic 89
8  Andres Iniesta     88
9  Eden Hazard        88
10 Mesut Oezil        88

In [14]:
#question2
#Which are the top 10 goalkeepers by sum of gk attributes?
q2 <- playerdata %>% top_n(n=10,wt=gk_rating)
q2 <- arrange(q2,desc(gk_rating))
q2 <- select(q2,player_name,gk_rating)
q2 <- filter(q2,between(row_number(),1,10))
q2

   player_name       gk_rating
1  Manuel Neuer      440
2  David De Gea      429
3  Edwin van der Sar 422
4  Robert Enke,30    421
5  Claudio Bravo     416
6  Bernd Leno        415
7  Petr Cech         414
8  Thibaut Courtois  414
9  Joe Hart          412
10 Samir Handanovic  411

In [15]:
#question3
#Which are the top 10 players by number of appearances (with any team they played with)?
q3 <- playerdata %>% top_n(n=10,wt=numofappearences)
q3 <- arrange(q3,desc(numofappearences))
q3 <- select(q3,player_name,numofappearences)
q3 <- filter(q3,between(row_number(),1,10))
q3

   player_name          numofappearences
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       259

In [16]:
#question4
#Which are the top 10 players by number of leagues they played in?
q4 <- playerdata %>% top_n(n=10,wt=numofleagues)
q4 <- arrange(q4,desc(numofleagues))
q4 <- select(q4,player_name,numofleagues)
q4 <- filter(q4,between(row_number(),1,10))
q4

   player_name           numofleagues
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

In [17]:
#question5
#Which are the top 10 teams by sum of build up play attributes?
q5 <- teamdata %>% top_n(n=10,wt=buildupattributes)
q5 <- arrange(q5,desc(buildupattributes))
q5 <- select(q5,team_long_name,team_short_name,team_api_id,buildupattributes)
q5 <- filter(q5,between(row_number(),1,10))
q5

   team_long_name             team_short_name team_api_id buildupattributes
1  Carpi                      CAP             208931      190
2  Widzew Łódź                LOD               8244      190
3  Widzew Łódź                WID               8024      190
4  FC Nantes                  NAN               9830      189
5  Podbeskidzie Bielsko-Biała POD               8033      189
6  Lazio                      LAZ               8543      188
7  Chievo Verona              CHI               8533      187
8  Blackburn Rovers           BLB               8655      185
9  Udinese                    UDI               8600      185
10 Genoa                      GEN              10233      184

In [18]:
#question6
#Which are the top 10 teams by sum of build up play attributes?
q6 <- teamdata %>% top_n(n=10,wt=chancecreationattributes)
q6 <- arrange(q6,desc(chancecreationattributes))
q6 <- select(q6,team_long_name,team_short_name,chancecreationattributes)
q6 <- filter(q6,between(row_number(),1,10))
q6

   team_long_name         team_short_name chancecreationattributes
1  Lazio                  LAZ             220
2  Birmingham City        BIR             203
3  Falkirk                FAL             200
4  Hamilton Academical FC HAM             197
5  Cagliari               CAG             196
6  Lech Poznań            POZ             196
7  Juventus               JUV             195
8  Bayer 04 Leverkusen    LEV             192
9  SV Werder Bremen       WBR             192
10 Roma                   ROM             191

In [19]:
q7 <- teamdata %>% top_n(n=10,wt=defenseattributes)
q7 <- arrange(q7,desc(defenseattributes))
q7 <- select(q7,team_long_name,team_short_name,defenseattributes)
q7 <- filter(q7,between(row_number(),1,10))
q7

   team_long_name      team_short_name defenseattributes
1  KSV Roeselare       ROS             205
2  Odra Wodzisław      ODR             205
3  Falkirk             FAL             200
4  FC Barcelona        BAR             191
5  Lazio               LAZ             190
6  Cagliari            CAG             187
7  FC Bayern Munich    BMU             184
8  Burnley             BUR             183
9  Bayer 04 Leverkusen LEV             183
10 SV Werder Bremen    WBR             183

In [20]:
q8 <- teamdata %>% top_n(n=10,wt=goals)
q8 <- arrange(q8,desc(goals))
q8 <- select(q8,team_long_name,team_short_name,goals)
q8 <- filter(q8,between(row_number(),1,10))
q8

   team_long_name    team_short_name goals
1  FC Barcelona      BAR             849
2  Real Madrid CF    REA             843
3  Celtic            CEL             695
4  FC Bayern Munich  BMU             653
5  PSV               PSV             652
6  Ajax              AJA             647
7  FC Basel          BAS             619
8  Manchester City   MCI             606
9  Chelsea           CHE             583
10 Manchester United MUN             582